.containerBlock {
    padding-top: 10em;
    padding-bottom: 10em;
}

#aboutMe-col1 {
    padding-top: 5em;
    padding-bottom: 5em;
}

#bigName {
    font-size: 80px;
}

#iconDiv {
    margin-top: 2em;
}

.icon {
    margin-right: 2em;
}

.email-icon {
    color: #e6eb91;
}

.linkedin-icon {
    color: #0077B5;
}

.github-icon {
    color: #8375ff;
}

#iconDiv a :hover {
    padding-bottom: 2px;
}