#Projects .card {
    background-color: rgb(7, 7, 43);
    color: white;
    border-color: rgb(64, 21, 104);
    border-radius: 1em;
    opacity: 0.9;
}

#Projects .card:hover {
    border-radius: 1em !important;
    border-color: rgb(109, 79, 138) !important;
    cursor: default;
}

#Projects .card p {
    text-align: justify;
}

#Projects .card .col-sm-9 {
    padding-bottom: 3em;
    padding-right: 2em;
    padding-left: 2em;
}

#Projects .card .btn-row {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

#Projects .card .btn {
    margin-left: 1em;
}